body{
    background-color: pink;
}
.open{
    top: 225px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.download{
    width: 52px;
    height: 38px;
    left: 830px;
    position: absolute;
    border-radius: 25px;
}
.click{
    color: red;
    font-style: italic;
}